<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mcl)/config/rosconsole.config"/>
  <node name="mcl_example" pkg="mcl" type="mcl_example" output="screen" />
  <node pkg="rosbag" type="play" name="bag_play" args="$(find mcl)/../../dataset/15.14flyballoon/fly_high_2023-04-28-11-21-08.bag -s 65 --duration=10" />
</launch>
